{% extends 'base.html' %}

{% load static %}

{% block title %}
     - pfsense
{% endblock title %}

{% block content %}

    <div class="container d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="display-4">PFSense Initial Setup</h1>
            <hr class="my-4">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>First Login</h4>
                <br>
                <p class="text-start">
                    Once Installed navigate to the IP address you assigned for your LAN port during install. You will
                    be greeted with the page below
                </p>
                <p class="text-start">
                    The default username is admin, and the password is pfsense. Go ahead and login with these default
                    credentials now.
                </p>
                <img src="{% static 'images/pfsense/pfsense_login.png' %}" class="img-fluid" alt="pfsense_login.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>Setup Wizard</h4>
                <br>
                <p class="text-start">
                    The first time you sign in you will be greeted with a
                    pfsense setup wizard page seen below.
                </p>
                <img src="{% static 'images/pfsense/pf_sense_setup.png' %}" class="img-fluid" alt="pf_sense_setup.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>Dashboard</h4>
                <br>
                <p class="text-start">
                    I am going to skip the wizard for now to change the theme because I don't like the bright background,
                    but will come back to the wizard shortly. Click the pfsense logo at the top left to navigate to the
                    homepage/dashboard and the following page will load.
                </p>
                <img src="{% static 'images/pfsense/pf_sense_light.png' %}" class="img-fluid" alt="pf_sense_light.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
         <div class="row justify-content-center">
             <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                 <h4>Changing The Theme</h4>
                 <br>
                 <p class="text-start">At the top, find the System Dropdown and navigate from System -> General Setup -> Theme</p>
                 <p class="text-start">Under webConfigurator find the Theme Dropdown and change the theme to pfSense - Dark</p>
                 <p class="text-start">Once you have done this, click save at the bottom, and then click the pf_sense logo at the top left to navigate to the main page</p>
                 <p class="text-start">After changing the theme, the dashboard  will look like this</p>
                 <img src="{% static 'images/pfsense/pf_sense_dark.png' %}" class="img-fluid" alt="pf_sense_dark.png">
             </div>
         </div>
     </div>

     <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>Creating a new user with admin privileges</h4>
                <br>
                <p class="text-start">Using the navigation bar at the top click System -> User Manager, and the following page will load</p>
                <img src="{% static 'images/pfsense/pf_sense_user_manger_0.png' %}" class="img-fluid" alt="pf_sense_user_manger_0.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <p class="text-start">Click the Add button on the bottom right to add a new user. Feel free to use whatever username you like, but
                for simplicity I am going to enter new_user into the Username field</p>
                <p class="text-start">Pick a strong password, preferably with a password generator but again this is up to your discretion</p>
                <p class="text-start">This is the page where you will want to go ahead and add this new user to the admin group so that you can
                make changes to the router and firewall settings. Once added to this group your new user will have the same
                privileges once logged in, that the system created user 'admin' has</p>
                <p class="text-start">NOTE: While logged in via the GUI the user created account will have the same privileges. However, when logged
                in via SSH you will only have access to the shell, not the menu. For this reason it is not recommended that you
                disable login access for the admin user in later steps</p>
                <p class="text-start">In the Group membership section select admins from the field on the left, and then click the button below it
                to add new_user to the admins group</p>
                <p class="text-start">optionally, you can add your public ssh keys here if you wish to SSH into the router remotely. I am doing this,
                but you don't have to</p>
                <p class="text-start">Once you are done filling this page out click save at the bottom, and you will be redirected to the main User Manager page</p>
                <p class="text-start">see the screenshot below</p>
                <img src="{% static 'images/pfsense/pf_sense_new_user.png' %}" class="img-fluid" alt="pf_sense_new_user.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>Changing the default password for system created user, admin</h4>
                <br>
                <p class="text-start">Now that we have created a new admin user let's go ahead and change the password for the system
                created user named 'admin'</p>
                <p class="text-start">Click on the pencil icon on the right side of the screen for the admin user and the following page will load</p>
                <p class="text-start">Choose a complex password created by a generator, or, at your own risk, choose one
                of your liking</p>
                <p class="text-start">HINT: Now would be a good time to paste in your public SSH key, so you can login and access menu/shell if
                needed. This is a lot more convenient than having to plug in a monitor to the machine, so if you have a public
                key on a local machine that you use frequently go ahead and enter it into the Authorized SSH Keys field at the
                bottom</p>
                <p class="text-start">Once your password is entered, and optionally, your public SSH key is entered,
                click save</p>
                <img src="{% static 'images/pfsense/pf_sense_edit_admin.png' %}" class="img-fluid" alt="pf_sense_edit_admin.png">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <h4>Setup Wizard (continued)</h4>
                <br>
                <p class="text-start">After saving the password and SSH key of the admin user, let's continue with the
                setup wizard that we skipped earlier</p>
                <p class="text-start">At the top click the System dropdown as seen below, and then click Setup Wizard.
                </p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_0.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_0.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">The following page will load, click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_1.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_1.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">This page is informational and there is nothing for you to do here.</p>
                <p class="text-start">Click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_2.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_2.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">Fill in the Primary, and Secondary DNS Server field with whatever DNS you would
                    like to use. I am using Quad 9 and Cloudflare's DNS servers, and uncheck "Allow DNS servers to be
                    overridden by your DHCP/PPP on WAN.</p>
                <p class="text-start">Click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_3.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_3.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">You can leave the time Server set at default setting with pfsense's time servers if
                you don't have a preference. Select your timezone from the dropdown.</p>
                <p>Select your timezone from the dropdown, and then click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_4.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_4.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">I don't personally have a need to change anything on the following page because my
                IP address is not static. My IP address is assigned to me by my ISP via DHCP, but if you have a static IP,
                you will need to fill in the appropriate fields on this page.</p>
                <p class="text-start">Click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_5.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_5.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">If you plan on using a VPN to connect back to your home network of the internet,
                you will need to change the default LAN IP Address on this page. The reason for this is that 192.168.1.1,
                the default set by pfsense, is also the default on many other routers. Leaving the LAN IP address at this
                default value will cause problems for you if trying to VPN to your home network from another router with
                the same LAN IP address.</p>
                <p class="text-start">You can change this address to anything you want, but I am leaving the first, second,
                and fourth octets at their default, but changing the fourth octet to a value of 100.</p>
                <p class="text-start">Go ahead and click Next after making the change.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_6.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_6.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">In this step, you will be asked to change your password for the admin user. If you
                have followed along above, you have already done this step and can skip this step. If you haven't done
                this yet, go ahead and either type in a new complex password, or preferably use a complex password generated
                by a password generator. As mentioned before, I use Bitwarden for password management, and they have a generator
                built in.</p>
                <p class="text-start">Click Next.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_7.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_7.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start"><span class="text-danger">IMPORTANT:</span> Before clicking Reload and committing all the changes there are some things
                to be aware of. As you have been clicking Next throughout the Setup Wizard, you have been committing changes
                to your database, however if you changed your LAN IP address in step 5, your devices likely have not been
                assigned IP addresses in the updated address space. To get new IP addresses assigned by pfsense's DHCP, in
                the new address space you will need to unplug any devices connected to the assigned LAN ports right after
                clicking reload.</p>
                <p class="text-start">We are almost finished. Click Reload now, and unplug your devices after that.
                <p class="text-start">Unplug your devices and click Reload now.</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_8.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_8.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">The following screen will appear while pfsense is reloading. Standby, and be patient
                while the system does its work in the background, we are almost done</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_9.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_9.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">After pfsense is finished configuring your system, the following page will load automatically.</p>
                <p class="text-start">Click Finish, and you will be redirected to the User Dashboard</p>
                <img src="{% static 'images/pfsense/pf_sense_setup_wizard_10.png' %}" class="img-fluid" alt="pf_sense_setup_wizard_10.png">
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <br>
                <p class="text-start">This concludes the Initial setup of pfsense. Thanks for reading along.</p>
            </div>
        </div>
    </div>
{% endblock content %}